<div class="site-bottom">
  <div class="github-area">
    <p class="github-header">
      <img class="icon-github" src="/assets/image/icon-github.png" />  
      <span>GitHub</span>
    </p>
    <ul class="github-links">
      <li><a href="https://github.com/uskin/uskin">Repository</a></li>
      <li><a href="https://github.com/icecreamliker/uskin/releases">Releases Note</a></li>
      <li><a href="https://github.com/uskin/uskin/issues">Report Bug</a></li>
    </ul>
  </div>
  <p class="license">Copyright © 2017 MIT License</p>
</div>
