<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>USkin</title>
  <link rel="shortcut icon" type="image/png" href="/assets/image/favicon.ico"/>
  <link rel="stylesheet" href="/assets/css/index.css" type="text/css">
  <link rel="stylesheet" href="/assets/css/syntax.css" type="text/css">
</head>
<body>
  {% include navbar.html %}
  <div class="site-home">
    <div class="welcome-page">
      <p class="title">
        <span class="head-title">USkin</span>
        <span class="sub-title">React组件库及配色方案</span>
      </p>
      <div class="btn-area">
        <a class="button button-green" href="/components/breadcrumb">开发指南</a>
        <a class="button button-white" href="https://github.com/uskin/uskin">
          <img class="icon-github" src="/assets/image/icon-github.png" />
          GitHub
        </a>
      </div>
      <div class="stuff-area">
        <img class="stuff wp-coffee" src="/assets/image/home-wp-coffee.png" />
        <img class="stuff wp-pencil" src="/assets/image/home-wp-pencil.png" />
        <img class="stuff wp-computer" src="/assets/image/home-wp-computer.png" />
        <img class="stuff wp-hand" src="/assets/image/home-wp-hand.png" />
        <img class="stuff wp-mouse" src="/assets/image/home-wp-mouse.png" />
        <img class="stuff wp-paper" src="/assets/image/home-wp-paper.png" />
      </div>
    </div>
    <div class="content-page">
      <div class="content white-type">
        <div class="inner">
          <div class="img-area">
            <img src="/assets/image/home-content-puzzle.png" />
          </div>
          <div class="text-area">
            <p>包罗万象</p>
            <span>提供丰富多样的组件和组件模式，页面功能全能覆盖、繁简模式切换自如。</span>
          </div>
        </div>
      </div>
      <div class="content gray-type">
        <div class="inner">
          <div class="text-area">
            <p>挥洒自如</p>
            <span>大方简洁的扁平化设计，配合色彩自由定义，组件与页面整体风格浑然天成、相得益彰。</span>
          </div>
          <div class="img-area">
            <img src="/assets/image/home-content-paint.png" />
          </div>
        </div>
      </div>
      <div class="content white-type">
        <div class="inner">
          <div class="img-area">
            <img src="/assets/image/home-content-person.png" />
          </div>
          <div class="text-area">
            <p>身量小巧</p>
            <span>使用不着痕迹，React模块结构清晰，完整的文档、用例和单元测试助力开发。</span>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-page">
      <div class="bottom-bg"></div>
    </div>
  </div>
  {% include bottom.html %}
</body>
</html>
